<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

      <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem accusantium non facere eligendi ut architecto ipsam veniam quos, est repudiandae ratione obcaecati repellat error officia a voluptatum sapiente accusamus cum.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem commodi vel quibusdam dolor quos nulla consectetur rerum veritatis modi ducimus. Illo adipisci quis aspernatur quod voluptatibus aliquam neque a commodi!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat beatae asperiores similique consectetur impedit nam officiis qui explicabo consequuntur veniam. Sunt impedit, omnis modi deleniti cum mollitia in quidem eligendi.</p>
      </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>